#There are som exples of commonly ignore file patterns

# Node arttifact files
node_modules/
dist/

.vscode
.idea
node_modules
# modules/db_connect.js

public/img

package-lock.json
tmp_uploads

upload
# dev.env 
production.env
.DS_Store
#要設 expressjs service和 db config

# googleAuth金鑰
client_secret.json

*.env
